.project-section {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #079188;
}

.project-section .main-title.-other {
    padding-bottom: 50px;
}