.project-tec {
    display: flex;
    align-items: center;
}

.project-tec .firedlabs {
    background-color: #7C5E99;
    border-top: 17px solid #7C5E99;
    border-left: 34.5px solid #7C5E99;
    border-bottom: 17.5px solid #7C5E99;
    border-right: 35px solid #7C5E99;
    box-shadow: 10px 10px 0 #FFF;
    max-width: 280px;
    max-height: 280px;
}

.project-tec .collabcode {
    background-color: #4C5B84;
    box-shadow: 10px 10px 0 #FFF;
    max-width: 280px;
    max-height: 280px;
}

.project-tec .jms {
    box-shadow: 10px 10px 0 #FFF;
    max-width: 280px;
    max-height: 280px;
}